<body class="sawgrass-17">
<div class="backdrop">
  <div class="container">
    <div class="jumbotron">
      <h1>Round Tracker</h1>

      <p>A way for golfers to track and reflect on their rounds so that they can improve their game</p>

      <p>Record Rounds, Chart Rounds, Add Courses, See Your Friend's Rounds and Courses</p>

      <div class="welcome-group">
        <a href="users/new" class="btn btn-primary welcome-buttons" role="button">Sign Up!</a>
        <a href="session/new" class="btn btn-primary welcome-buttons" role="button">Sign In!</a>
      </div>
    </div>

  </div>
  <div id="main"></div>
</div>

<div class="right">
</div>
