<body class="signin">
<% if flash[:danger] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:danger] %>
  </div>
<% end %>


<h1 class="sign-in">Welcome Back!</h1>
<br>
<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
  <div class="form-group">
    <input type="text" name="user[email]" class="form-control" placeholder="E-mail" value="">
    <input type="password" name="user[password]" class="form-control" placeholder="Password">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-block btn-success">Sign In</button>
  </div>
</form>

<a class="sign-in-a" href="<%= new_user_url %>">Don't have an account?</a>
  <span class="sign-in-link"> or did you </span><a class="sign-in-a" href="#">Forget your password?</a>
