<h1>Search Users</h1>


<input id="search_users" type="text" placeholder="Search Users">
<input id="submit" type="submit" value="Submit">


<div class="list_users">
  <ul class="users">
  </ul>
</div>
