<h1><%= user.escape("email") %></h1>

<h3>Rounds</h3>
<ul>
  <% _.each(rounds, function (round) { %>
    <li><%= round.date %></li>
    <a href="#users/<%= user.id %>/rounds/<%= round.id %>">Show<a/>

  <% }) %>
</ul>


<h3>Courses</h3>
