<h1>Hello, <%= current_user_email %></h1>

<h1>My Rounds</h1>

<ul>
  <% _.each(rounds.models, function (round) { %>
    <li><%= round.escape("date") %></li>
    <a href="#rounds/<%= round.id %>">Show |</a><a href="#rounds/<%= round.id %>/edit"> Edit<a/>

  <% }) %>
</ul>

<a href="#rounds/new">Add a Round</a>
