<h1>Hello, <%= current_user_email %></h1>

<h1>My Rounds</h1>

<div class="list-group">
  <% _.each(rounds.models, function (round) { %>
    <a class="list-group-item" href="#rounds/<%= round.id %>"><%= round.escape("date") %></a>

  <% }) %>
</div>

<a class="btn btn-primary" role="button" href="#rounds/new">Add a Round</a>
