<h1>Hello, <%= current_user_email %></h1>

<h1>My Rounds</h1>

<div class="list-group">
  <% _.each(rounds.models, function (round) { %>
    <a href="#rounds/<%= round.id %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= round.escape("date") %></h4>
      <span class="label label-default label-pill pull-xs-right">1</span>
    </a>

  <% }) %>
</div>

<a class="btn btn-primary" role="button" href="#rounds/new">Add a Round</a>
