<div class="jumbotron">
  <div class="container">

    <h1>Welcome <%= current_user.email %></h1>
    <h1>My rounds</h1>

    <%= link_to "Add Round", new_round_url %>
    <br>
    <%= link_to "Add Course", new_course_url %>


    <ul>
      <% current_user.rounds.each do |round| %>
        <li><%= link_to "#{round.course.name} #{round.date} round", round_url(round) %></li>
      <% end %>

    </ul>
  </div>
</div
