<body class="augusta">
<h1>Enter Email</h1>

<form action="/users/emailer" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" class="form-control" name="user[email]">

  <input type="submit" class="btn btn-primary" value="Submit">
</form>
