<% var images = course.get("images_hash") %>
<% var course_user_id = course.escape("user_id") %>

<h1 class="chart-title">Chart <%= course.get("name") %></h1>

<div class="btn-toolbar" role="toolbar">
  <div class="tools btn-group" role="group">
    <button class="clear btn btn-default">Clear</button>
    <button class="eraser btn btn-default">Eraser</button>
    <button class="marker btn btn-default">Marker</button>
    <button class="save btn btn-default">Save</button>
  </div>

  <div class="strokes btn-group" role="group">
    <button class="size btn btn-default">Thin</button>
    <button class="size btn btn-default">Normal</button>
    <button class="size btn btn-default">Thick</button>
    <button class="size btn btn-default">Broad</button>
  </div>

  <div class="colors btn-group" role="group">
    <button class="color btn btn-default">Green</button>
    <button class="color btn btn-default">Brown</button>
    <button class="color btn btn-default">Yellow</button>
    <button class="color btn btn-default">Purple</button>
  </div>
</div>
<div class="edit"></div>

<div class="sidebar">
  <ul class="chartings">
  <% for (var img in images) { %>
    <li class="img"><%= img %><img class="charting" src="<%= images[img] %>" data-key="<%= img %>"></li>
<% } %>
  </ul>
</div>

<div class="drag">I'm draggable</div>

<div class="center-piece">
  <div class="jquery-ui-images center-pieces">
    <ul class="golf-icons">
      <li id="draggable" class="flagstick"></li>
      <li id="draggable" class="tree1"></li>
      <li id="draggable" class="tree2"></li>
      <li id="draggable" class="tree3"></li>
      <li id="draggable" class="tree4"></li>
      <li id="draggable" class="tree5"></li>
    </ul>
  </div>
  <canvas class="center-pieces" id="myCanvas" width="500" height="500"></canvas>
<div>
