<% var images = course.get("images_hash") %>
<% var course_user_id = course.escape("user_id") %>

<div class="container">
  <div class="page-header">
    <h1 class="chart-title">Chart <%= course.get("name") %></h1>
  </div>
</div>

<div class="sidebar gradientBoxesWithOuterShadows">
  <ul class="chartings">
  <% for (var img in images) { %>
    <li class="img"><%= img %><img class="charting" src="<%= images[img] %>" data-key="<%= img %>"></li>
<% } %>
  </ul>
</div>

<div class="btn-toolbar" role="toolbar">
  <div class="tools btn-group" role="group">
    <button class="clear btn btn-default">Clear</button>
    <button class="eraser btn btn-default">Eraser</button>
    <button class="marker btn btn-default">Marker</button>
    <button class="save btn btn-default">Save</button>
  </div>

  <div class="strokes btn-group" role="group">
    <button class="size btn btn-default">Thin</button>
    <button class="size btn btn-default">Normal</button>
    <button class="size btn btn-default">Thick</button>
    <button class="size btn btn-default">Broad</button>
  </div>

  <div class="colors btn-group" role="group">
    <button class="color btn btn-default">Green</button>
    <button class="color btn btn-default">Brown</button>
    <button class="color btn btn-default">Yellow</button>
    <button class="color btn btn-default">Purple</button>
  </div>

  <div class="edit btn-group"></div>
</div>


<div class="center-piece">
  <div class="jquery-ui-images center-pieces gradientBoxesWithOuterShadows">
    <ul class="golf-icons">
      <!-- <li class="draggable flagstick"></li>
      <li class="draggable tree1"></li>
      <li class="draggable tree2"></li>
      <li class="draggable tree3"></li>
      <li class="draggable tree4"></li>
      <li class="draggable tree5"></li> -->

      <li class="draggable"><img class="resize" src="../../../assets/jquery-icons/red-golf-flag.jpg"></li>

      <li class="draggable"><img class="resize" src="../../../assets/jquery-icons/FreeArt_Trees1/tree1.png"></li>
      <li class="draggable"><img class="resize" src="../../../assets/jquery-icons/FreeArt_Trees1/tree2.png"></li>
      <li class="draggable"><img class="resize" src="../../../assets/jquery-icons/FreeArt_Trees1/tree3.png"></li>
      <li class="draggable"><img class="resize" src="../../../assets/jquery-icons/FreeArt_Trees1/tree4.png"></li>
      <li class="draggable"><img class="resize" src="../../../assets/jquery-icons/FreeArt_Trees1/tree5.png"></li>
    </ul>
  </div>

  <canvas class="center-pieces wood-frame" id="myCanvas" width="500" height="500"></canvas>

<div>
<br>
