<button class="clear">Clear</button>

<button class="color">Green</button>
<button class="color">Brown</button>
<button class="color">Yellow</button>
<button class="color">Purple</button>

<h1>Chart <%= course.get("name") %></h1>

<canvas id="canvasInAPerfectWorld" width="400" height="400"></canvas>
