<div class="container">
  <div class="page-header">
    <h1>My Courses</h1>
  </div>
</div>

<div class="list-group">
  <% _.each(courses.models, function (course) { %>
    <a class="list-group-item" href="#courses/<%= course.id %>"><%= course.escape("name") %></a>
  <% }) %>
</div>

<a class="btn btn-primary" role="button" href="#courses/new">Add Course</a>
