<h1>Courses</h1>

<div class="list-group">
  <% _.each(courses.models, function (course) { %>
    <a class="list-group-item" href="#courses/<%= course.id %>"><%= course.escape("name") %></a>
  <% }) %>
</div>

<a class="btn btn-primary" role="button" href="#courses/new">Add Course</a>
