<div class="container">
  <div class="page-header">
    <h1 class="nice-title">My Courses</h1>
  </div>
</div>

<div class="list-group">
  <% _.each(courses.models, function (course) { %>
    <a class="list-group-item nice-list" href="#courses/<%= course.id %>"><%= course.escape("name") %></a>
    <div class="icons-container">
      <span class="pull-right">
        <span class="arrow glyphicon glyphicon-chevron-right"></span>
      </span>
    </div>
  <% }) %>
</div>


<div class="myButton golf-button">
  <a class="button-link" href="#courses/new">Add Course</a>
</div>
