<div id="errors" class="alert alert-danger hidden" role="alert">
  <ul class="errors"></ul>
</div>
<h1>Add a Course!</h1>
<form>
  <div class="input-group">
    <span class="input-group-addon golf-course" id="basic-addon1"></span>
    <input id="course_name" type="text" class="form-control" placeholder="Course Name" name="course[name]" aria-describedby="basic-addon1">
  </div>


  <br>

  <table class="table">
    <tr>
      <td>Front</td>
      <% for (var num = 1; num <= 9; num++) { %>
        <td><%= num %></td>
      <% } %>

      <td>Back</td>
      <% for (var num = 10; num <= 18; num++) { %>
        <td><%= num %></td>
      <% } %>
    </tr>

    <tr class="pars">
      <td>Par</td>
      <% for (var num = 1; num <= 9; num++) { %>
        <td class="par" contenteditable="true" name="hole<%=num%>" value= ""></td>
      <% } %>


      <td></td>
      <% for (var num = 10; num <= 18; num++) { %>
        <td class="par" contenteditable="true" name="hole<%=num%>" value= ""></td>
      <% } %>
    </tr>
  </table>

  <br>


  <button id="create-course" class="btn btn-primary">Create Course</button>
</form>
