<h1>Add a course!</h1>

<form action="<%= courses_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  <label>Course Name<input type="text" name="course[name]" value="<%= @course.name %>"></label>
  <table>
    <tr>
      <td>Front Pars</td>
      <td><input type="number" name="course[hole_one_par]" placeholder="Hole 1"></td>
      <td><input type="number" name="course[hole_two_par]" placeholder="Hole 2"></td>
      <td><input type="number" name="course[hole_three_par]" placeholder="Hole 3"></td>
      <td><input type="number" name="course[hole_four_par]" placeholder="Hole 4"></td>
      <td><input type="number" name="course[hole_five_par]" placeholder="Hole 5"></td>
      <td><input type="number" name="course[hole_six_par]" placeholder="Hole 6"></td>
      <td><input type="number" name="course[hole_seven_par]" placeholder="Hole 7"></td>
      <td><input type="number" name="course[hole_eight_par]" placeholder="Hole 8"></td>
      <td><input type="number" name="course[hole_nine_par]" placeholder="Hole 9"></td>
    </tr>
    <tr>

      <td>Back Pars</td>
      <td><input type="number" name="course[hole_ten_par]" placeholder="Hole 10"></td>
      <td><input type="number" name="course[hole_eleven_par]" placeholder="Hole 11"></td>
      <td><input type="number" name="course[hole_twelve_par]" placeholder="Hole 12"></td>
      <td><input type="number" name="course[hole_thirteen_par]" placeholder="Hole 13"></td>
      <td><input type="number" name="course[hole_fourteen_par]" placeholder="Hole 14"></td>
      <td><input type="number" name="course[hole_fifteen_par]" placeholder="Hole 15"></td>
      <td><input type="number" name="course[hole_sixteen_par]" placeholder="Hole 16"></td>
      <td><input type="number" name="course[hole_seventeen_par]" placeholder="Hole 17"></td>
      <td><input type="number" name="course[hole_eighteen_par]" placeholder="Hole 18"></td>
    </tr>
  </table>

  <input type="submit" name"Submit">






</form>
